body {
  font: 18px "helvetica", sans-serif;
  margin: 28px;
  background: #ddb9c2;
  color: black;
}

ol, ul {
  padding-left: 30px;
}


.board-row:after {
  clear: both;
  content: "";
  display: table;
  margin: 12px;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  color: white
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.spacing {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.winFont {
  color: rgb(10, 179, 10);
  size: 18px;
}

.loseFont {
  
  color: #dd1212;
  size: 18px;
}

.green {
  background-color: rgb(56, 197, 56);
}

.yellow {
  background-color: rgb(220, 190, 17);
}

.gray {
  background-color: gray;
}

.playAgainBox {
  
  background-color: #415ee2;
  width: 40px;
  height: 20px;
  size: 16px;
  
  padding: 2px;
  margin: 2px;
  color: white;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.underline {
  text-decoration: underline;
}



/* test changes for heroku app*/

